body {
    background-color: beige;
    color: red;
}


h1 {
    color: rgb(197, 197, 147);
    text-align: center;
    font-size: 100px;
}

a.link {
    color: rgb(53, 239, 11);
}


a:visited {
    color: rgb(227, 58, 227);
}

a:hover {
    color: rgb(160, 67, 28);
}

#menu {
    font-size: 40px;
}