body {
    background-color: beige;
    color: red;
}


h1 {
    color: rgb(197, 197, 147);
    text-align: center;
}

a.link {
    color: rgb(255, 174, 0);
}

a.hover {
    color: rgb(160, 67, 28);
}

a.visited {
    color: rgb(227, 58, 227);
}