body {
    background-color: beige;
    color: red;
}

a:visited {
    color: red !important;
}


h1 {
    color: rgb(197, 197, 147);
    text-align: center;
}

a.link {

}

a.hover {

}

a.visited {
    
}